
body {
  margin: 0;
  padding: 0;
}

form {
  text-align: center;
}

.center-header {
  text-align: center;
}

#error-box {
  margin: 0 auto;
  width: 65vw;
  text-align: center;
}

#output {
  text-align: center;
  margin-top: 5vh;
}

#copy-msg {
  font-style: italic;
}



#shorturl {
  margin-bottom: 0;
}

#history-table {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
  max-height: 50vh;
}

.table {
    table-layout: fixed;
}

.table th, td, tr {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.table-hover td:hover{
  background-color: #999999;
  color: white;
}
/*Main url input form styles*/
#form-container {
  padding: 2em;
  overflow: hidden;
  width:100%;
  height: 100%;
  margin-bottom: 1vh;

}
#header-div {
  margin-bottom: 5vh;
}
#main-header{
  font-size: 3em;
}

#sub-header {
  font-style: italic;
  font-weight: bold;
  color: #555577;
}
/*END main url input form styles*/
#user-dash {
  margin: 0 auto;
  max-height: 60vh;
}

/*Hover/mouse leave box shadow changes*/
.shadow-transition {
  transition: box-shadow 1s ease;
  box-shadow: none;
}
.shadow-transition:hover {
  transition: box-shadow .3s ease;
  box-shadow: 0 5px 10px 3px rgba(100,100,100,.7);
}
